
{% extends 'squirrelapp/base.html' %}

{% load static %}

{% block title %} - All Squirrel Sightings{% endblock %}

{% block main %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Squirrel Tracker</h1>
        <p class="lead text-muted">Here is a place where you can add, update and view squirrel data. Avoiding squirrels becomes a doddle for you now! </p >
      <p>
        <a href="{% url 'squirrelapp:add' %}" class="btn btn-primary my-2">Create A New Sighting</a >
        <a href="{% url 'squirrelapp:stats' %}" class="btn btn-secondary my-2">Sightings Statistics</a >
      </p >
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for sighting in sightings %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
	    <div class="card-body">
              <p class="card-text">
                <div class="pet-name">
                  <strong>{{ sighting.Unique_Squirrel_ID }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">This squirrel is spotted on</span>
                  <span>
                    {{ sighting.Date }}
                  </span>
                </div>
              </p>
          <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'squirrelapp:update' sighting.Unique_Squirrel_ID %}">Edit</a>
	       </div>
	      </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
