<!doctype html>
<html>
    <head><b>Some Interesting Statistics</b></head>
    <br>
    <br>
    <body>
        <hr>Total number of records: {{counts}} squirrels.</hr>
        <hr>Number of squirrels seen in the morning: {{am_counts}} squirrels.</hr>
        <hr>Number of squirrels seen in the afternoon: {{pm_counts}} squirrels.</hr>
        <hr>Number of adult squirrels seen: {{adult_counts}} squirrels.</hr>
        <hr>Number of juvenile squirrels seen: {{juvenile_counts}} squirrels.</hr>
        <hr>Total number of gray squirrels: {{gray_counts}} squirrels.</hr>
        <hr>Total number of cinnamon squirrels: {{cinnamon_counts}} squirrels.</hr>
        <hr>Total number of running squirrels: {{running_counts}} squirrels.</hr>
    </body>
</html>
